<%# if current_user.patient? %>
<h3>Conversation</h3>
<%#end%>

<% if @over_ten %>
 <%= link_to 'Show Previous', '?m=all' %>
<% end %>
<div class="ui segment">
 <% @messages.each do |message| %>
  <% if message.body %>
   <% user = User.find(message.user_id)%>
   <div class="item">
    <div class="content">
     <div class="header">
       <strong><%= user.display_name %></strong>     <%= message.message_time %>
     </div>
     <br>
      <div class="list">
       <div class="list">
        <i class="right triangle icon"></i>
         <%= message.body %>
      </div>
    </div>
   </div>
 </div>
 <br>
 <% end %>
<% end %>
</div>


<%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
 <div class=”field”>
   <%= f.text_area :body, class: "form-control", class: "messagetext" %>
 </div>
 <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
 <div>
   <%= f.submit "Add Message", class: "messagebutton" %>
 </div>
<% end %>
