<%= form_for(pharmacy) do |f| %>
  <% if pharmacy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pharmacy.errors.count, "error") %> prohibited this pharmacy from being saved:</h2>

      <ul>
      <% pharmacy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- <div class="field">
    <%#= f.label :pharmacy_id_id %>
    <%#= f.text_field :pharmacy_id_id %>
  </div> -->



  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_area :address %>
  </div>

  <div class="field">
    <%= f.label :suburb %>
    <!-- <%= f.text_field :suburb_id %> -->
    <%= f.collection_select :suburb_id, Suburb.order(:name),:id,:name, include_blank: true %>
  </div>

  <div class="field">
    <%#= cloudinary_js_config %>
    <%= f.file_field :avatar, :class => "uploadbackground" %>
  </div>

  <div class="actions">
    <%= f.submit "Create Pharmacy", :class => "submit-button" %>
  </div>

  <label class="amount">
    <span>Amount: $5.00</span>
  </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-description="A month's subscription"
        data-amount="500"
        data-locale="auto">
  </script>

<% end %>
