<p id="notice"><%= notice %></p>

<h2><%= form_tag(pharmacies_path, method: "get") do %>
  <%= label_tag(:q, "Find a Pharmacy") %>
  <br>
  <%= text_field_tag :search, params[:search], placeholder: "Enter a Suburb", class: "textfield"%>
  <br>
  <br>
  <%= image_submit_tag("search", size: "16")  %>
<% end %>
</h2>
<br>
<table>
  <!-- <thead>
    <tr> -->
      <!-- <th>Pharmacy</th> -->
      <!-- <th>Logo</th>
      <th>Pharmacy Name</th>
      <th>Address</th>
      <th>Suburb</th> -->
      <!-- <th>Lat</th>
      <th>Lng</th> -->
      <!-- <th colspan="3"></th>
    </tr>
  </thead> -->

  <tbody class = "pharmacylist">
    <% @pharmacies.each do |pharmacy| %>

      <%= image_tag pharmacy.avatar_url(:thumbnail) %>
      <br>
      <h3 class="pharmacyname"><%= pharmacy.name %></h3>
      <%= pharmacy.address %>,
      <%= pharmacy.suburb.name %>
      <br>
      <br>
      <%= link_to 'More Details', pharmacy, class: "messagebutton" %>
      <br>
      <%= link_to 'Message me!', conversations_path(sender_id: current_user.id, recipient_id: pharmacy.user_id), method: :post, class: "messagebutton" %>
      <%#= link_to 'Show', pharmacy %>
      <%#= link_to 'Edit', edit_pharmacy_path(pharmacy) %>
      <%#= link_to 'Destroy', pharmacy, method: :delete, data: { confirm: 'Are you sure?' } %>
      <br>
      <br>
      <br>


    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Pharmacy', new_pharmacy_path %>
