<p id="notice"><%= notice %></p>



<% unless @pharmacy.avatar_url.nil? %>
  <%= image_tag @pharmacy.avatar_url(:display) %><br />
  <% end %>

<p>
  <strong>Pharmacy:</strong>
  <%= @pharmacy.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @pharmacy.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @pharmacy.address %>
</p>

<p>
  <strong>Suburb:</strong>
  <%= @pharmacy.suburb.name %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @pharmacy.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @pharmacy.lng %>
</p>

<div>
  <%= render partial: 'map_embed', locals: {lat: @pharmacy.lat, lng: @pharmacy.lng } %>
</div>

<%= link_to 'Edit', edit_pharmacy_path(@pharmacy) %> |
<%= link_to 'Back', pharmacies_path %>
