<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @profile.user.email %>
</p>

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @profile.address %>
</p>

<!-- <p>
  <strong>S:</strong>
  <%= @profile.s %>
</p> -->

<p>
  <strong>Suburb:</strong>
  <%= @profile.suburb %>
</p>

<p>
  <strong>Medicare no:</strong>
  <%= @profile.medicare_no %>
</p>

<p>
  <strong>Concession no:</strong>
  <%= @profile.concession_no %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @profile.date_of_birth %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @profile.sex %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
