<nav>
  <!-- class="navbar-text pull-right" -->
  <% if user_signed_in? %>
  Logged in as <%= current_user.email %>
  <br>
  <br>
    <% if current_user.role.pharmacy? %>
      <%= link_to "Create pharmacy", new_pharmacy_path, :class => "navbutton" %>
      <%#= link_to "Edit pharmacy", edit_pharmacy_path(@pharmacy), :class => "navbutton" %>
      <%= link_to "Messages", conversations_path, :class => "navbutton" %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => "navbutton" %>

    <% elsif current_user.role.patient? %>
      <%= link_to "Create profile", new_profile_path, :class => "navbutton" %>
      <%= link_to "Search pharmacies", pharmacies_path, :class => "navbutton" %>
      <%= link_to "Messages", conversations_path, :class => "navbutton" %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => "navbutton" %>

    <% end %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path, :class => "navbutton"%>
    <%= link_to "Login", new_user_session_path, :class => "navbutton" %>
  <% end %>
  <br>
  <br>


  <%# if current_user.has_role? :pharmacy %>
    <%#= link_to "Manage Pharmacy", pharmacy_path %>
  <%# end %>

</nav>