<!DOCTYPE html>
<html>
  <head>
    <title>Panacea</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <%= render partial: 'layouts/nav' %>

  <div>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
      <!-- Can change class name after if required (copied from tutorial) -->
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
  </div>



    <%# unless current_user.profile.blank? %>
    <%#= render partial: 'layouts  /form', profile: @profile %>
    <%# end %>

    <!-- <% unless @user.blank? %>
    Email:<%#= @user.email %><br />
    Member Since:<%#= @user.created_at  %><br />
    <% end %> -->

    <%= yield %>
  </body>
</html>
